* {
    font-family: 'Poppins';
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
}

.btn-access {
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 10px;
    right: 2%;
    font-size: 18px;
}

.btn-access:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.title {
    text-transform: uppercase;
    display: block;
    font-size: 92px;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    /* background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%); */
    position: absolute;
    padding: 100px 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.logo {
    position: absolute;
    top: 44%;
    left: 47%;
}